
  a:hover, button:hover, {
  background-color: Aqua;
  font-size: 20px;
  font-weight: bold;
}

  .logo {
    width: 200px;
    background-color: Aqua;
  }

  .smaller-image {
    width: 250px;
  }

  .larger-image {
    width: 250px;
  }

  .Fortnite {
    width: 50px;
  }
    body {
      background-color: rgb(3, 190, 252);
      }

      b {
        font-size: 17px;
      }

      li {
        font-family: Arial;
        font-size: 13px;
      }

      p {
        font-family: helvetica;
        font-size: 14px;
      }

      h2 {
        font-family: Arial;
        font-size: 19px;
      }


      h4 {
        font-size: 18px;
      }

      .header-button {
        background-color: Aqua;
        font-size: 17px;
        border-size: 10px;
        border-width: medium;
      }

       a {
        font-size: 19px;
      }
